:80 {
	reverse_proxy /view/*  host.docker.internal:9000
	reverse_proxy /api/*   host.docker.internal:9000
	reverse_proxy /node1/* host.docker.internal:9100
	reverse_proxy /node2/* host.docker.internal:9200
	reverse_proxy /node3/* host.docker.internal:9300
	reverse_proxy /node4/* host.docker.internal:9400
	reverse_proxy /node5/* host.docker.internal:9500
	reverse_proxy /node6/* host.docker.internal:9600
	reverse_proxy /node7/* host.docker.internal:9700
	reverse_proxy /node8/* host.docker.internal:9800
	root * /work/caddy
	file_server
}
